<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> 

</head>
<body>
    <div class="centered">
        <h1 class="typing-text" id="typing"></h1>
    </div>

    <div class="wrapper">
        <div class="searchBar">
            <form action="#" method="post">
                <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" />
                
            </form>
        </div>
    </div>
    <div id="outputText" class="output-text"></div>

    <footer>
        <p>LawCat can make mistakes, so double-check it</p>
    </footer>

    <script src="{{url_for('static',filename='js/script.js')}}"></script> <!-- Link to the JS file -->
</body>

</html>